<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->

<!-- default-lazy-init="true" dentro de beans, para setar o padrão para todos os beans, sendo inicializados apenas quando usados pelas primeiras vez -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fonteDados" class="com.example.demo.FonteDadosArquivo">
        <property name="arquivo" value="/arquivos/pessoas.csv"/>
    </bean>
    <!-- lany-init: não inicia o bean ao subir da aplicação-->
    <bean id="impressor"
          class="com.example.demo.ImpressorImpl"
          lazy-init="false">
    </bean>

    <bean id="processador"
          class="com.example.demo.Processador">
        <property name="impressor" ref="impressor"/>
        <property name="fonteDados" ref="fonteDados"/>
    </bean>
</beans>